/#*#
/DIFFS
/LOG1.TXT
/LOG2.TXT
/Data/
/SatComm/Data
/SatComm/ISS_SSTV/
/SatComm/
/SatComm2/
/SatComm3/
/__pycache__/
/data/presets.old
/internals.mat
/save*
/work
/SatComm4/*.wav
/demod_*.dat
/demod_*.wav
/*.mp3
/build/*
/pySDR.spec
/dist/pySDR
/raw_iq_*.dat
/sigs/__pycache__/file_io.cpython-310.pyc
/sigs/raw_iq_*.dat
