# Under Mint 21, tried this but didn't work --> "Illegal Instruction"

#   sudo apt -y install python3-soapysdr soapysdr-module-rtlsdr
#   libsoapysdr-doc libsoapysdr-dev soapysdr-tools rtl-sdr librtlsdr-dev

# Had to resort to building from source.  Hopefully this will get
# resolved some day.

# BUILD_Soapy
# BUILD_RTL
# BUILD_SDRplay

# pip3 install -r requirements.txt

# There are some changes in the latest pyqtgraph so for now, we use
# the older version until I can catch up

# pip3 install --upgrade pyqtgraph==0.12.4

# Once these are resolved, should be able to use 

# pip3 install --upgrade pyqtgraph

pyqt5
matplotlib
pyqtgraph
pyserial
xlrd
unidecode
pyhamtools
pyaudio
pyrtlsdr

pandas
scipy
#levenshtein

# It might be a lot easier in the future to just use mini-conda:
# Must use python 3.10 but it works!!!!:
# conda install -c conda-forge soapysdr
# conda install -c conda-forge soapysdr-module-rtlsdr

