###############################################################################
#
# Code has been migrated to uv - See README.md for instructions.
#
# In a nutshel:
#
# rm -r .venv/ pyproject.toml .python-version uv.lock
# uv init
# uv add -r requirements.txt
#
###############################################################################
#
# This was how this used to work:
#     pip3 install -r requirements.txt
#
# There are some changes in the latest pyqtgraph so for now, we use
# the older version until I can catch up
#
#    pip3 install --upgrade pyqtgraph==0.12.4
#
# Once these are resolved, should be able to use 
#
#     pip3 install --upgrade pyqtgraph
#
# but, in true linux fashion, it was broken in Python 3.11 - great jobs guys!
#
###############################################################################
#
# Under Mint 21, tried this but didn't work --> "Illegal Instruction"
# BUT, it seems to work under Mint 22.2, at least for thr RTL:
#
#   sudo apt -y install python3-soapysdr soapysdr-module-rtlsdr
#   sudo apt -y install libsoapysdr-doc libsoapysdr-dev soapysdr-tools
#   sudo apt -y install rtl-sdr librtlsdr-dev libusb-1.0-0-dev
#
# Use sudo apt remove ... to get rid of them before attempting to build.
# Had to resort to building from source.  Hopefully this will get
# resolved some day.
#
# Also tried it under RPi Bookworm - these mostly work except need to
# build Soapy driver for the SDRplay.  This is probably bx they use
# a propietary driver.
#
#     BUILD_Soapy
#     BUILD_RTL
#     BUILD_SDRplay
#
#############################################################################

setuptools

pyqt6
# This seems to mostly work except with pyqtgraph under uv.
# In the past, there was a bug that caused a gui program to hang on final
# but his seems to be fixed now
#PySide6
pyqtgraph

matplotlib
pyserial
xlrd
unidecode
pyhamtools
pyaudio
pyrtlsdr

pandas
numpy
scipy
psutil

pygame
pyudev

# It might be a lot easier in the future to just use mini-conda:
# conda install -c conda-forge soapysdr
# conda install -c conda-forge soapysdr-module-rtlsdr
# python3-soapysdr
# soapysdr-module-rtlsdr

# Overcome problems with mini-conda - ignore
#feedparser
#cryptography
#platformdirs
#attrs
#requests-file
#requests-toolbelt

